[package]
name = "src_embed"
version = "0.1.0"
edition = "2021"
license = "MIT"
description = "A procedural macro to embed source files into Rust binaries."

[lib]
proc-macro = true

[dependencies]
syn = { version = "2.0", features = ["full"] }
quote = "1.0"
proc-macro2 = "1.0"
